force-app/main/default/flows/SF2ST_Terminal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>getReaders</name>
        <label>getReaders</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <actionName>stripeGC__v01_ListTerminalReaders</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>get_Stripe_Account.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>hasStripeCustomerIdFilled</name>
        <label>hasStripeCustomerIdFilled</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>get_Stripe_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoStripeRecord</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getCurrentRecord.Stripe_Customer_Id__c</leftValueReference>
                <operator>IsNull</operator>
            </conditions>
            <conditions>
                <leftValueReference>getCurrentRecord.Stripe_Customer_Id__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_ErrorScreen</targetReference>
            </connector>
            <label>NoStripeRecord</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SF2ST - Terminal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SF2ST - Terminal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_Stripe_Account</name>
        <label>get Stripe Account</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getReaders</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>stripeGC__Stripe_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCurrentRecord</name>
        <label>getCurrentRecord</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>hasStripeCustomerIdFilled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Copy_1_of_ErrorScreen</name>
        <label>CantFindStripeRecord</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TxtCantFindStripeRecord</name>
            <fieldText>&lt;p&gt;This record has not yet been sync with Stripe. Please sync it first.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getCurrentRecord</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
