force-app/main/default/flows/SF2ST_PaymentLink.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Copy_1_of_createCheckoutSession</name>
        <label>Copy 1 of createCheckoutSession</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <actionName>stripeGC__v01_CreateCheckoutSessions</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Copy_1_of_finalScreen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>lineItems</name>
            <value>
                <elementReference>lineItems</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>metadata</name>
            <value>
                <elementReference>stripeMetadata</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>payment</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>getStripeAccount.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>successUrl</name>
            <value>
                <elementReference>SuccessUrl</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>createCheckoutSession</name>
        <label>createCheckoutSession</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <actionName>stripeGC__v01_CreateCheckoutSessions</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>finalScreen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>getStripeAccount.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customer</name>
            <value>
                <elementReference>getCurrent.Stripe_Customer_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>lineItems</name>
            <value>
                <elementReference>lineItems</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>metadata</name>
            <value>
                <elementReference>stripeMetadata</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>payment</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>successUrl</name>
            <value>
                <elementReference>SuccessUrl</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>assignement</name>
        <label>assignement</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>lineItem.priceData.r_currency</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lineItem.priceData.unitAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lineItem.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mdata.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CorrelationId</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mdata.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Correlation_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mdataList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>mdata</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>stripeMetadata.listAdditionalStringField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>mdataList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lineItem.priceData.productData.name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Line_Content</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>lineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isARegisteredCustomer</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>isARegisteredCustomer</name>
        <label>isARegisteredCustomer</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_createCheckoutSession</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>customerIdNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCurrent.Stripe_Customer_Id__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>createCheckoutSession</targetReference>
            </connector>
            <label>customerIdNotNull</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>currencyPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Currency__c</picklistField>
        <picklistObject>Unpaid_Invoice_Item__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>formulaAmount</name>
        <dataType>Number</dataType>
        <expression>{!Line_AmountNbr}*100</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>SF2ST_PaymentLink {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SF2ST_PaymentLink</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getCurrent</name>
        <label>getCurrentContact</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getStripeAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getStripeAccount</name>
        <label>getStripeAccount</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screenRequestPayment</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>stripeGC__Stripe_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Copy_1_of_finalScreen</name>
        <label>Copy 1 of finalScreen</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_displayEnd</name>
            <fieldText>&lt;p&gt;An email has been sent to &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!getCurrent.FirstName}  {!&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;getCurrent&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;.LastName}   containing a link to pay on Stripe using his/her preferred payment method. You can now close this window.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Click below to see current hosted page:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!Copy_1_of_createCheckoutSession.url}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Copy_1_of_createCheckoutSession.url}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>finalScreen</name>
        <label>finalScreen</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displayEnd</name>
            <fieldText>&lt;p&gt;An email has been sent to &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!getCurrent.FirstName}  {!&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;getCurrent&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;.LastName}   containing a link to pay on Stripe using his/her preferred payment method. You can now close this window.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Click below to see current hosted page:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot; {!createCheckoutSession.url}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt; {!createCheckoutSession.url}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenRequestPayment</name>
        <label>screenRequestPayment</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assignement</targetReference>
        </connector>
        <fields>
            <name>Intro</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please fill out below information. An email will be sent to&lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; {!getCurrent.Email} &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;with a link to pay.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Line_Content</name>
            <dataType>String</dataType>
            <fieldText>Line Content</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Line_AmountNbr</name>
            <dataType>Number</dataType>
            <fieldText>Line Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>currency</name>
            <choiceReferences>currencyPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>currency</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ToggleMetadata</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Include Reference</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Correlation_Id</name>
            <dataType>String</dataType>
            <fieldText>Correlation Id</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ToggleMetadata.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getCurrent</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CorrelationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>CorrelationId</stringValue>
        </value>
    </variables>
    <variables>
        <name>lineItem</name>
        <apexClass>stripeGC__CreateCheckoutSessionsReqLineItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lineItems</name>
        <apexClass>stripeGC__CreateCheckoutSessionsReqLineItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>mdata</name>
        <apexClass>stripeGC__AdditionalString</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>mdataList</name>
        <apexClass>stripeGC__AdditionalString</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stripeMetadata</name>
        <apexClass>stripeGC__Metadata</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SuccessUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>https://www.stripe.com</stringValue>
        </value>
    </variables>
</Flow>
