force-app/main/default/flows/SF2ST_Claims_Xfer_and_Payout.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Payout_funds_POST_payouts</name>
        <label>Payout funds (POST /payouts</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <actionName>stripeGC__v01_CreatePayouts</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>getCurrentStripeAccount.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>amount</name>
            <value>
                <elementReference>entryNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>r_currency</name>
            <value>
                <stringValue>eur</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Transfer_funds_post_Transfers</name>
        <label>Transfer funds (post /Transfers</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <actionName>stripeGC__v01_CreateTransfers</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Payout_funds_POST_payouts</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>getCurrentStripeAccount.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>amount</name>
            <value>
                <elementReference>entryNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>description</name>
            <value>
                <elementReference>entryDescription</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destination</name>
            <value>
                <elementReference>getCurrentPersonAccount.AccountNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>r_currency</name>
            <value>
                <stringValue>eur</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>SF2ST - Claims Xfer and Payout {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SF2ST - Claims Xfer and Payout</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getCurrentPersonAccount</name>
        <label>getCurrentPersonAccount</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getCurrentStripeAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCurrentStripeAccount</name>
        <label>getCurrentStripeAccount</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Claims_Payout_Start</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>stripeGC__Stripe_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Claims_Payout_Start</name>
        <label>Claims Payout Start</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Transfer_funds_post_Transfers</targetReference>
        </connector>
        <fields>
            <name>AmountDisplayText</name>
            <fieldText>&lt;p&gt;Please enter below the amount you want to pay to PPG Customer {!getCurrentPersonAccount.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>entryNumber</name>
            <dataType>Number</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>DescriptionDisplayText</name>
            <fieldText>&lt;p&gt;For tracking purpose, please indicate the # of the claim.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>entryDescription</name>
            <dataType>String</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getCurrentPersonAccount</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
