force-app/main/default/flows/SF2ST_Create_Price.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>createPrice</name>
        <label>createPrice</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <actionName>stripeGC__v01_CreatePrices</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>UpdatePrice</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_when_creating_product</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>getStripeAccount.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>product</name>
            <value>
                <elementReference>getStripePrice.Stripe_Product__r.Stripe_UID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>r_currency</name>
            <value>
                <elementReference>getStripePrice.Currency__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recurring</name>
            <value>
                <elementReference>RecurringContent</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>unitAmount</name>
            <value>
                <elementReference>getStripePrice.Price_in_cents__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>stripeGC__v01_CreatePrices</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>createStripeGC_Recurring</name>
        <label>createStripeGC__Recurring</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>RecurringContent.interval</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getStripePrice.Interval__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecurringContent.intervalCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getStripePrice.Interval_Count__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecurringContent.usageType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>licensed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createPrice</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <expression>MID(
 {!$Flow.FaultMessage},
 FIND(&apos;FIELD_CUSTOM_VALIDATION_EXCEPTION: &apos;, {!$Flow.FaultMessage} )+34,
 (
   LEN({!$Flow.FaultMessage} ) - 
   (FIND(&apos;FIELD_CUSTOM_VALIDATION_EXCEPTION: &apos;, {!$Flow.FaultMessage} )+34)
 ) - 
 (
   LEN({!$Flow.FaultMessage} ) - 
   FIND(&apos;. For details, see API Exceptions&apos;, {!$Flow.FaultMessage} )
 )
)</expression>
    </formulas>
    <interviewLabel>SF2ST - Push {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SF2ST - Create Price</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getStripeAccount</name>
        <label>getStripeAccount</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createStripeGC_Recurring</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>stripeGC__Stripe_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getStripePrice</name>
        <label>getStripePrice</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getStripeAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Stripe_Price__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdatePrice</name>
        <label>UpdatePrice</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getStripePrice.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stripe_UID__c</field>
            <value>
                <elementReference>createPrice.id</elementReference>
            </value>
        </inputAssignments>
        <object>Stripe_Price__c</object>
    </recordUpdates>
    <screens>
        <name>Error_when_creating_product</name>
        <label>Error when creating product</label>
        <locationX>440</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorContent</name>
            <fieldText>&lt;p&gt;An error occurred while creating the Stripe Product. Please check the logs for further details.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getStripePrice</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecurringContent</name>
        <apexClass>stripeGC__Recurring</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
