force-app/main/default/flows/SF2ST_Contact_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>createCustomer</name>
        <label>createCustomer</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <actionName>stripeGC__v01_CreateCustomers</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>updateLocalContact</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>StripeAccountDataTable.firstSelectedRow.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>getCurrentContact.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>metadata</name>
            <value>
                <elementReference>outputMetadata</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>name</name>
            <value>
                <elementReference>fullName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>stripeGC__v01_CreateCustomers</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>assignMetadata</name>
        <label>assignMetadata</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>mdataSalesforceRecordId.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SalesforceRecordId</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mdataSalesforceRecordId.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mdataSalesforceRecordType.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SalesforceRecordType</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mdataSalesforceRecordType.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mdataList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>mdataSalesforceRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mdataList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>mdataSalesforceRecordType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputMetadata.listAdditionalStringField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>mdataList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createCustomer</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkHasStripeCustomerIdEmpty</name>
        <label>checkHasStripeCustomerIdEmpty</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>endError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isStripeCustomerIdEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCurrentContact.Stripe_Customer_Id__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>getStripeAccount</targetReference>
            </connector>
            <label>isStripeCustomerIdEmpty</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fullName</name>
        <dataType>String</dataType>
        <expression>{!getCurrentContact.FirstName} + &apos; &apos; + {!getCurrentContact.LastName} + &apos; - &apos; + {!getCurrentContact.Account.Name}</expression>
    </formulas>
    <interviewLabel>SF2ST_Save_Customer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SF2ST_Contact_Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getCurrentContact</name>
        <label>getCurrentContact</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkHasStripeCustomerIdEmpty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getStripeAccount</name>
        <label>getStripeAccount</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>select_Stripe_Account</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>stripeGC__Stripe_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Number</name>
        <label>Update Account Number</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>endCreation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCurrentContact.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountNumber</field>
            <value>
                <elementReference>createCustomer.id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateLocalContact</name>
        <label>updateLocalContact</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Update_Account_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stripe_Account_Id__c</field>
            <value>
                <elementReference>StripeAccountDataTable.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stripe_Customer_Id__c</field>
            <value>
                <elementReference>createCustomer.id</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>endCreation</name>
        <label>endCreation</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>endText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;The contact was created properly on Stripe and his id is &lt;/span&gt;{!createCustomer.id}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>endError</name>
        <label>endError</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorText</name>
            <fieldText>&lt;p&gt;Stripe Synchronisation did not complete: this contact has already a StripeCustomerId ({!getCurrentContact.Stripe_Customer_Id__c}&lt;/p&gt;&lt;p&gt;Please edit the record and re run the action.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>select_Stripe_Account</name>
        <label>select Stripe Account</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assignMetadata</targetReference>
        </connector>
        <fields>
            <name>textStripeAccount</name>
            <fieldText>&lt;p&gt;Please select the Stripe Account to send the data to.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>StripeAccountDataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>stripeGC__Stripe_Account__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Stripe Accounts</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>getStripeAccount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-417d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Stripe Account Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getCurrentContact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>mdataList</name>
        <apexClass>stripeGC__AdditionalString</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>mdataSalesforceRecordId</name>
        <apexClass>stripeGC__AdditionalString</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>mdataSalesforceRecordType</name>
        <apexClass>stripeGC__AdditionalString</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outputMetadata</name>
        <apexClass>stripeGC__Metadata</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
