force-app/main/default/flows/SF2ST_Create_Subscription.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>createSubscription</name>
        <label>createSubscription</label>
        <locationX>176</locationX>
        <locationY>384</locationY>
        <actionName>stripeGC__v01_CreateSubscriptions</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>update_Opportunity</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>$Record.Contact__r.Stripe_Account_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>collectionMethod</name>
            <value>
                <stringValue>send_invoice</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customer</name>
            <value>
                <elementReference>$Record.Contact__r.Stripe_Customer_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>daysUntilDue</name>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>items</name>
            <value>
                <elementReference>listSubscriptionItems</elementReference>
            </value>
        </inputParameters>
        <nameSegment>stripeGC__v01_CreateSubscriptions</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>send_Invoice</name>
        <label>send Invoice</label>
        <locationX>440</locationX>
        <locationY>276</locationY>
        <actionName>stripeGC__v01_PostInvoicesSend</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>$Record.Contact__r.Stripe_Account_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>invoice</name>
            <value>
                <elementReference>$Record.Stripe_Latest_Invoice__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>stripeGC__v01_PostInvoicesSend</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>assign</name>
        <label>assign</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>singleSubscription.price</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Stripe_Price__r.Stripe_UID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleSubscription.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Stripe_Price_QTY__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>listSubscriptionItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleSubscription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createSubscription</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>SF2ST_Subscription {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SF2ST_Create_Subscription</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>update_Opportunity</name>
        <label>update Opportunity</label>
        <locationX>176</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>Stripe_Latest_Invoice__c</field>
            <value>
                <elementReference>createSubscription.latestInvoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stripe_Subscription_Id__c</field>
            <value>
                <elementReference>createSubscription.id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>assign</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <scheduledPaths>
            <name>callout_to_invoice_send</name>
            <connector>
                <targetReference>send_Invoice</targetReference>
            </connector>
            <label>callout to invoice send</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>listSubscriptionItems</name>
        <apexClass>stripeGC__CreateSubscriptionsReqItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>singleSubscription</name>
        <apexClass>stripeGC__CreateSubscriptionsReqItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
