force-app/main/default/flows/SF2ST_Unpaid_Invoice_Items.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>createInvoice</name>
        <label>createInvoice</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <actionName>stripeGC__v01_CreateInvoices</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>finalizeInvoice</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>getStripeAccount.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>collectionMethod</name>
            <value>
                <elementReference>constantSendInvoice</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customer</name>
            <value>
                <elementReference>getCurrentAccountContent.Default_Stripe_Contact__r.Stripe_Customer_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>daysUntilDue</name>
            <value>
                <elementReference>constantDaysUntilDue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pendingInvoiceItemsBehavior</name>
            <value>
                <elementReference>constantPendingInvoiceItem</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>r_currency</name>
            <value>
                <elementReference>invoiceCurrency</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>createInvoiceItems</name>
        <label>createInvoiceItems</label>
        <locationX>264</locationX>
        <locationY>782</locationY>
        <actionName>stripeGC__v01_CreateInvoiceitems</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>loop_on_unpaid_items</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>amount</name>
            <value>
                <elementReference>formulaAmount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>r_currency</name>
            <value>
                <elementReference>loop_on_unpaid_items.Currency__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customer</name>
            <value>
                <elementReference>getCurrentAccountContent.Default_Stripe_Contact__r.Stripe_Customer_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>description</name>
            <value>
                <elementReference>loop_on_unpaid_items.Description__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>metadata</name>
            <value>
                <elementReference>stripeMetadata</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>getStripeAccount.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>finalizeInvoice</name>
        <label>finalizeInvoice</label>
        <locationX>176</locationX>
        <locationY>1082</locationY>
        <actionName>stripeGC__v01_PostInvoicesFinalize</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>sendInvoice</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>invoice</name>
            <value>
                <elementReference>createInvoice.id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>getStripeAccount.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>sendInvoice</name>
        <label>sendInvoice</label>
        <locationX>176</locationX>
        <locationY>1190</locationY>
        <actionName>stripeGC__v01_PostInvoicesSend</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>loopUpdateItems</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>invoice</name>
            <value>
                <elementReference>createInvoice.id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>getStripeAccount.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>assignInvoiceItems</name>
        <label>assignInvoiceItems</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>singleMetadata.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_on_unpaid_items.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleMetadata.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>InvoiceItem</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>listMetadata</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleMetadata</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>stripeMetadata.listAdditionalStringField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>listMetadata</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>invoiceCurrency</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_on_unpaid_items.Currency__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createInvoiceItems</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>constantDaysUntilDue</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>constantInvoiceItem</name>
        <dataType>String</dataType>
        <value>
            <stringValue>InvoiceItem</stringValue>
        </value>
    </constants>
    <constants>
        <name>constantPendingInvoiceItem</name>
        <dataType>String</dataType>
        <value>
            <stringValue>include</stringValue>
        </value>
    </constants>
    <constants>
        <name>constantSendInvoice</name>
        <dataType>String</dataType>
        <value>
            <stringValue>send_invoice</stringValue>
        </value>
    </constants>
    <environments>Default</environments>
    <formulas>
        <name>formulaAmount</name>
        <dataType>Number</dataType>
        <expression>{!loop_on_unpaid_items.Amount__c} * 100</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>SF2ST_Unpaid_Invoice_Items {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SF2ST_Unpaid_Invoice_Items</label>
    <loops>
        <name>loop_on_unpaid_items</name>
        <label>loop on unpaid items</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <collectionReference>DisplayListOfItems.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignInvoiceItems</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createInvoice</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopUpdateItems</name>
        <label>loopUpdateItems</label>
        <locationX>176</locationX>
        <locationY>1298</locationY>
        <collectionReference>DisplayListOfItems.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>updateInvoiceItem</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>apifinalScreen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getCurrentAccountContent</name>
        <label>getCurrentAccountContent</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getUnpaidInvoiceItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getStripeAccount</name>
        <label>getStripeAccount</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>selection</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>stripeGC__Stripe_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getUnpaidInvoiceItems</name>
        <label>getUnpaidInvoiceItems</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getStripeAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Payment Requested</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Unpaid_Invoice_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateInvoiceItem</name>
        <label>updateInvoiceItem</label>
        <locationX>264</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>loopUpdateItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopUpdateItems.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Payment Requested</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stripe_Invoice_Id__c</field>
            <value>
                <elementReference>createInvoice.id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stripe_Invoice_URL__c</field>
            <value>
                <elementReference>sendInvoice.hostedInvoiceUrl</elementReference>
            </value>
        </inputAssignments>
        <object>Unpaid_Invoice_Item__c</object>
    </recordUpdates>
    <screens>
        <name>apifinalScreen</name>
        <label>finalScreen</label>
        <locationX>176</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>finalText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;An invoice has been sent to your customer. You can check the Stripe Hosted Invoice page here: &lt;/span&gt;&lt;a href=&quot;{!sendInvoice.hostedInvoiceUrl}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!sendInvoice.hostedInvoiceUrl}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>selection</name>
        <label>selection</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>loop_on_unpaid_items</targetReference>
        </connector>
        <fields>
            <name>textItemsSelection</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;All the following unpaid items will be added to a Stripe invoice.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayListOfItems</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Unpaid_Invoice_Item__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>getUnpaidInvoiceItems</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRows</name>
                <value>
                    <elementReference>getUnpaidInvoiceItems</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-25e3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Amount__c&quot;,&quot;guid&quot;:&quot;column-8e2f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Amount&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Amount&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Currency__c&quot;,&quot;guid&quot;:&quot;column-6a90&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Currency&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Currency&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Description__c&quot;,&quot;guid&quot;:&quot;column-f37b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Description&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Description&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getCurrentAccountContent</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>invoiceCurrency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>eur</stringValue>
        </value>
    </variables>
    <variables>
        <name>listMetadata</name>
        <apexClass>stripeGC__AdditionalString</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>singleMetadata</name>
        <apexClass>stripeGC__AdditionalString</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stripeMetadata</name>
        <apexClass>stripeGC__Metadata</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
