force-app/main/default/flows/SF2ST_StripeIssuing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>createStripeIssuingCard</name>
        <label>createStripeIssuingCard</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>issuingOnboarding</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>EndFlow</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>ids</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>SF2ST - Issuing Card {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SF2ST - Stripe Issuing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>EndFlow</name>
        <label>EndFlow</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EndText</name>
            <fieldText>&lt;p&gt;A Stripe card has been created for this customer. You can see by going here &lt;a href=&quot;https://dashboard.stripe.com/test/issuing/cards/{!createStripeIssuingCard}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;https://dashboard.stripe.com/test/issuing/cards/{!createStripeIssuingCard}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>createStripeIssuingCard</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
