force-app/main/default/flows/SF2ST_LP_Onboarding.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>createBankAccount</name>
        <label>createBankAccount (POST /bank_accounts)</label>
        <locationX>176</locationX>
        <locationY>1322</locationY>
        <actionName>stripeGC__AgnosticInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>update_Person_Account</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>getStripeAccountId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>endpoint</name>
            <value>
                <elementReference>bankAccountEndpoint</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>method</name>
            <value>
                <stringValue>POST</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestBody</name>
            <value>
                <elementReference>formulaBankAccount</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>createToken</name>
        <label>create Token (POST /tokens)</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <actionName>stripeGC__v01_CreateTokens</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>POST_Accounts</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>account</name>
            <value>
                <elementReference>tokenAccount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>getStripeAccountId.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>POST_Accounts</name>
        <label>create Account (POST /accounts)</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <actionName>stripeGC__v01_CreateAccounts</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>screenAddBankAccount</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>getStripeAccountId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accountToken</name>
            <value>
                <elementReference>createToken.id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>businessProfile</name>
            <value>
                <elementReference>AccountBusinessProfile</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>capabilities</name>
            <value>
                <elementReference>AccountCapabilities</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>country</name>
            <value>
                <elementReference>getCurrentPersonAccount.BillingCountry</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>settings</name>
            <value>
                <elementReference>AccountPayoutSettings</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tosAcceptance</name>
            <value>
                <elementReference>AccountTOSAcceptance</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>custom</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>retrieve_Customer_Mandate_GET_setup_intents</name>
        <label>retrieve Customer Mandate (GET /setup_intents)</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>stripeGC__v01_ListSetupIntents</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Retrieve_Stripe_Context</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>getStripeAccountId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customer</name>
            <value>
                <elementReference>getCurrentPersonAccount.Stripe_Customer_Id__pc</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>assign_Bank_Account</name>
        <label>assign Bank Account</label>
        <locationX>176</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>AccountExternalAccount.accountHolderName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCurrentPersonAccount.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountExternalAccount.accountType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>individual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountExternalAccount.routingNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BE62510007547061</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountExternalAccount.country</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountExternalAccount.r_currency</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>eur</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createBankAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignAccountVariables</name>
        <label>assignAccountVariables</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>AccountCapabilities.transfers.requested</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountTOSAcceptance.serviceAgreement</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>recipient</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountBusinessProfile.url</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>https://www.pinnaclepetgroup.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountPayoutSettings.payouts.schedule.interval</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>manual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountPayoutSettings.payouts.statementDescriptor</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PPG Payment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountBusinessProfile.name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCurrentPersonAccount.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prepare_Token_Account_Creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTokenVariables</name>
        <label>assignTokenVariables</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>tokenAccount.businessType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>individual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tokenAccount.tosShownAndAccepted</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tokenAccount.individual.firstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCurrentPersonAccount.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tokenAccount.individual.lastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCurrentPersonAccount.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tokenAccount.individual.address.city</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCurrentPersonAccount.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tokenAccount.individual.address.country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCurrentPersonAccount.BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tokenAccount.individual.address.line1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCurrentPersonAccount.BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tokenAccount.individual.address.postalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCurrentPersonAccount.BillingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tokenAccount.individual.address.state</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCurrentPersonAccount.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tokenAccount.individual.dob.day</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>27.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tokenAccount.individual.dob.month</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tokenAccount.individual.dob.year</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1983.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignAccountVariables</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>externalAccountConstant</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&quot;bank_account[account_holder_name]=\&quot;AugustinRieunier19\&quot;&amp;bank_account[account_holder_type]=\&quot;individual\&quot;&amp;bank_account[account_number]=\&quot;BE62510007547061\&quot;&amp;bank_account[currency]=\&quot;eur\&quot;&amp;bank_account[country]=\&quot;BE\&quot;</stringValue>
        </value>
    </constants>
    <description>creates a connected account in Stripe to be used with LP</description>
    <environments>Default</environments>
    <formulas>
        <name>bankAccountEndpoint</name>
        <dataType>String</dataType>
        <expression>&quot;/v1/accounts/&quot; + {!POST_Accounts.id} + &quot;/bank_accounts&quot;</expression>
    </formulas>
    <formulas>
        <name>formulaBankAccount</name>
        <dataType>String</dataType>
        <expression>&apos;bank_account[account_holder_name]=Augustin Rieunier19&amp;bank_account[account_holder_type]=individual&amp;bank_account[account_number]=BE62510007547061&amp;bank_account[currency]=eur&amp;bank_account[country]=BE&apos;</expression>
    </formulas>
    <interviewLabel>SF2ST - LP Onboarding {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SF2ST - LP Onboarding</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getCurrentPersonAccount</name>
        <label>getCurrentPersonAccount</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>retrieve_Customer_Mandate_GET_setup_intents</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getStripeAccountId</name>
        <label>getStripeAccountId</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getCurrentPersonAccount</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>stripeGC__Stripe_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Person_Account</name>
        <label>update Person Account</label>
        <locationX>176</locationX>
        <locationY>1430</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCurrentPersonAccount.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountNumber</field>
            <value>
                <elementReference>POST_Accounts.id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Prepare_Token_Account_Creation</name>
        <label>Prepare Token &amp; Account Creation</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>createToken</targetReference>
        </connector>
        <fields>
            <name>displayPrepareTokenAccount</name>
            <fieldText>&lt;p&gt;Context retrieved successfully. Preparing Token &amp;amp; Account creation&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Retrieve_Stripe_Context</name>
        <label>Retrieve Stripe Context</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assignTokenVariables</targetReference>
        </connector>
        <fields>
            <name>displayRetrievingContext</name>
            <fieldText>&lt;p&gt;Click Next to retrieve Stripe Context for Customer {!getCurrentPersonAccount.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenAddBankAccount</name>
        <label>screenAddBankAccount</label>
        <locationX>176</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assign_Bank_Account</targetReference>
        </connector>
        <fields>
            <name>prepareBankAccount</name>
            <fieldText>&lt;p&gt;Click next to attach IBAN to current customer &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getStripeAccountId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountBankAccount</name>
        <apexClass>stripeGC__BankAccount</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountBusinessProfile</name>
        <apexClass>stripeGC__CreateAccountsReqBusinessProfile</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountCapabilities</name>
        <apexClass>stripeGC__CreateAccountsReqCapabilities</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountExternalAccount</name>
        <apexClass>stripeGC__ExternalAccount</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountPayoutSettings</name>
        <apexClass>stripeGC__CreateAccountsReqSettings</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountTOSAcceptance</name>
        <apexClass>stripeGC__AccountTosAcceptance</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>bank_account</name>
        <apexClass>stripeGC__ExternalAccount</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>stripeGC__CreateTokensReqAccount</description>
        <name>tokenAccount</name>
        <apexClass>stripeGC__CreateTokensReqAccount</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
