force-app/main/default/flows/SF2ST_PersonAccountSave.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>createCustomer</name>
        <label>createCustomer</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <actionName>stripeGC__v01_CreateCustomers</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Person_Account</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>getStripeAccount.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>getCurrentPersonAccount.PersonEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>metadata</name>
            <value>
                <elementReference>outputMetadata</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>name</name>
            <value>
                <elementReference>fullName</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>assignMetadata</name>
        <label>assignMetadata</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>mdataSalesforceRecordId.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SalesforceRecordId</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mdataSalesforceRecordId.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mdataSalesforceRecordType.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SalesforceRecordType</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mdataSalesforceRecordType.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PersonAccount</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mdataList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>mdataSalesforceRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mdataList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>mdataSalesforceRecordType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputMetadata.listAdditionalStringField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>mdataList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createCustomer</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkHasStripeCustomerIdEmpty</name>
        <label>checkHasStripeCustomerIdEmpty</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>endError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isStripeCustomerIdEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCurrentPersonAccount.Stripe_Customer_Id__pc</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>getStripeAccount</targetReference>
            </connector>
            <label>isStripeCustomerIdEmpty</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fullName</name>
        <dataType>String</dataType>
        <expression>
{!getCurrentPersonAccount.FirstName} +  &apos; &apos; + {!getCurrentPersonAccount.LastName}</expression>
    </formulas>
    <interviewLabel>SF2ST_PersonAccountSave {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SF2ST_PersonAccountSave</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getCurrentPersonAccount</name>
        <label>getCurrentPersonAccount</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkHasStripeCustomerIdEmpty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getStripeAccount</name>
        <label>getStripeAccount</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignMetadata</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>stripeGC__Stripe_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Person_Account</name>
        <label>Update Person Account</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>endCreation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountNumber</field>
            <value>
                <elementReference>createCustomer.id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stripe_Customer_Id__pc</field>
            <value>
                <elementReference>createCustomer.id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>endCreation</name>
        <label>endCreation</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>endText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;The contact was created properly on Stripe and his id is &lt;/span&gt;{!createCustomer.id}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>endError</name>
        <label>endError</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorText</name>
            <fieldText>&lt;p&gt;Stripe Synchronisation did not complete: this contact has already a StripeCustomerId {!getCurrentPersonAccount.Stripe_Customer_Id__pc}&lt;/p&gt;&lt;p&gt;Please edit the record and re run the action.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getCurrentPersonAccount</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>mdataList</name>
        <apexClass>stripeGC__AdditionalString</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>mdataSalesforceRecordId</name>
        <apexClass>stripeGC__AdditionalString</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>mdataSalesforceRecordType</name>
        <apexClass>stripeGC__AdditionalString</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outputMetadata</name>
        <apexClass>stripeGC__Metadata</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
