force-app/main/default/flows/ST2SF_EFW_Review_Dispute.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>castToDispute</name>
        <label>castToDispute</label>
        <locationX>314</locationX>
        <locationY>408</locationY>
        <actionName>stripeGC__v01_CastDispute</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>assignDispute</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>requestBody</name>
            <value>
                <elementReference>$Record.stripeGC__Request_Body__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>castToEFW</name>
        <label>castToEFW</label>
        <locationX>50</locationX>
        <locationY>408</locationY>
        <actionName>stripeGC__v01_CastRadarEarlyFraudWarning</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>assignEFW</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>requestBody</name>
            <value>
                <elementReference>$Record.stripeGC__Request_Body__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>castToReview</name>
        <label>castToReview</label>
        <locationX>578</locationX>
        <locationY>408</locationY>
        <actionName>stripeGC__v01_CastReview</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>assignReview</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>requestBody</name>
            <value>
                <elementReference>$Record.stripeGC__Request_Body__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>getPaymentIntent</name>
        <label>getPaymentIntent</label>
        <locationX>1238</locationX>
        <locationY>528</locationY>
        <actionName>stripeGC__v01_GetPaymentIntents</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>getCustomerContact</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>intent</name>
            <value>
                <elementReference>getCase.Stripe_PI_ID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>getStripeAccountId.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>assignDispute</name>
        <label>assignDispute</label>
        <locationX>314</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>caseType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dispute</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseTitleDispute</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseDescriptionDispute</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>stripePIID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>castToDispute.paymentIntent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignEFW</name>
        <label>assignEFW</label>
        <locationX>50</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>caseType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EFW</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseTitleEFW</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseDescriptionEFW</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>stripePIID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>castToEFW.paymentIntent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignReview</name>
        <label>assignReview</label>
        <locationX>578</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>caseType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Review</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseDescriptionReview</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseTitleReview</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>stripePIID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>castToReview.paymentIntent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createCase</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AccountFound</name>
        <label>AccountFound</label>
        <locationX>1238</locationX>
        <locationY>768</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>foundLocalAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCustomerContact.Stripe_Customer_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>getPaymentIntent.customer</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateCase</targetReference>
            </connector>
            <label>foundLocalAccount</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkEventName</name>
        <label>checkEventName</label>
        <locationX>446</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isEFW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.stripeGC__Event_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>radar.early_fraud_warning.created</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>castToEFW</targetReference>
            </connector>
            <label>isEFW</label>
        </rules>
        <rules>
            <name>isDispute</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.stripeGC__Event_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>charge.dispute.created</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>castToDispute</targetReference>
            </connector>
            <label>isDispute</label>
        </rules>
        <rules>
            <name>isReview</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.stripeGC__Event_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>review.opened</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>castToReview</targetReference>
            </connector>
            <label>isReview</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>caseDescriptionDispute</name>
        <dataType>String</dataType>
        <expression>&quot;A dispute has been opened for charge &quot; + {!castToDispute.charge} + &quot; with reason &quot; + {!castToDispute.reason} + &quot;. You must submit evidence by &quot; + TEXT(FROMUNIXTIME({!castToDispute.evidenceDetails.dueBy})) + &quot; or you ll loose &quot; + TEXT({!castToDispute.amount} )+ &quot; &quot; + {!castToDispute.r_currency}</expression>
    </formulas>
    <formulas>
        <name>caseDescriptionEFW</name>
        <dataType>String</dataType>
        <expression>&quot;An early fraud warning was detected for this payment. Reason given by radar is &quot; + {!castToEFW.fraudType}</expression>
    </formulas>
    <formulas>
        <name>caseDescriptionReview</name>
        <dataType>String</dataType>
        <expression>&quot;A review has been created for this charge. The customer location is &quot;+ {!castToReview.ipAddressLocation.city} + &apos;/&apos; + {!castToReview.ipAddressLocation.country} + &quot;. The Customer Ip is &quot; + {!castToReview.ipAddress} + &quot; and the reason is &quot;+{!castToReview.reason}</expression>
    </formulas>
    <formulas>
        <name>caseTitleDispute</name>
        <dataType>String</dataType>
        <expression>&quot;Dispute opened for PI &quot; + {!castToDispute.paymentIntent}</expression>
    </formulas>
    <formulas>
        <name>caseTitleEFW</name>
        <dataType>String</dataType>
        <expression>&quot;EFW raised by radar for PI &quot; + {!castToEFW.paymentIntent}</expression>
    </formulas>
    <formulas>
        <name>caseTitleReview</name>
        <dataType>String</dataType>
        <expression>&quot;Review opened for PI &quot; + {!castToReview.paymentIntent}</expression>
    </formulas>
    <interviewLabel>ST2SF_EFW_Review_Dispute {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ST2SF_EFW_Review_Dispute</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createCase</name>
        <label>createCase</label>
        <locationX>446</locationX>
        <locationY>744</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>caseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engineering_Req_Number__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stripe_PI_ID__c</field>
            <value>
                <elementReference>stripePIID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>caseTitle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>caseType</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getCase</name>
        <label>getCase</label>
        <locationX>1238</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getPaymentIntent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Engineering_Req_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCustomerContact</name>
        <label>getCustomerContact</label>
        <locationX>1238</locationX>
        <locationY>648</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AccountFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Stripe_Customer_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getPaymentIntent.customer</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getStripeAccountId</name>
        <label>getStripeAccountId</label>
        <locationX>1238</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getCase</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>stripeGC__Stripe_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateCase</name>
        <label>updateCase</label>
        <locationX>1106</locationX>
        <locationY>888</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCase.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>getCustomerContact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>checkEventName</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>stripeGC__Event_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>review.opened</stringValue>
            </value>
        </filters>
        <filters>
            <field>stripeGC__Event_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>radar.early_fraud_warning.created</stringValue>
            </value>
        </filters>
        <filters>
            <field>stripeGC__Event_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>charge.dispute.created</stringValue>
            </value>
        </filters>
        <object>stripeGC__Stripe_Event__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>getStripeAccountId</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>caseDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stripePIID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
