force-app/main/default/flows/ST2SF_Customer_Created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ASYNC_CastToCustomer</name>
        <label>ASYNC_CastToCustomer</label>
        <locationX>1458</locationX>
        <locationY>288</locationY>
        <actionName>stripeGC__v01_CastCustomer</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ASYNC_assignInboundCustomerMetadata</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>requestBody</name>
            <value>
                <elementReference>$Record.stripeGC__Request_Body__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>SYNC_CastToCustomer</name>
        <label>SYNC_CastToCustomer</label>
        <locationX>314</locationX>
        <locationY>288</locationY>
        <actionName>stripeGC__v01_CastCustomer</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SYNC_assignInboundCustomerMetadata</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>requestBody</name>
            <value>
                <elementReference>$Record.stripeGC__Request_Body__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>updateCustomer</name>
        <label>updateCustomer</label>
        <locationX>1326</locationX>
        <locationY>1560</locationY>
        <actionName>stripeGC__v01_UpdateCustomers</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customer</name>
            <value>
                <elementReference>getSalesforcePersonAccount.Stripe_Customer_Id__pc</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>metadata</name>
            <value>
                <elementReference>outputMetadata</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>getStripeAccount.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>updateCustomerCopy</name>
        <label>updateCustomerCopy</label>
        <locationX>1590</locationX>
        <locationY>1560</locationY>
        <actionName>stripeGC__v01_UpdateCustomers</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customer</name>
            <value>
                <elementReference>getSalesforceContact.Stripe_Customer_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>metadata</name>
            <value>
                <elementReference>outputMetadata</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>CopygetStripeAccount.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>assignMetadata</name>
        <label>assignMetadata</label>
        <locationX>1326</locationX>
        <locationY>1440</locationY>
        <assignmentItems>
            <assignToReference>mdataRecordId.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TEXTSalesforceRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mdataRecordId.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getSalesforcePersonAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mdataRecordType.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TEXTSalesforceRecordType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mdataRecordType.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TEXTPersonAccount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>listAdditionalString</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>mdataRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>listAdditionalString</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>mdataRecordType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputMetadata.listAdditionalStringField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>listAdditionalString</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateCustomer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASYNC_assignInboundCustomerMetadata</name>
        <label>ASYNC_assignInboundCustomerMetadata</label>
        <locationX>1458</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>inboundMetadata</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ASYNC_CastToCustomer.metadata</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isSyncFlow</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASYNC_LoopOnCustomerMetadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASYNC_setPersonAccountFalse</name>
        <label>ASYNC_setPersonAccountFalse</label>
        <locationX>1810</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>boolIsPersonAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASYNC_LoopOnCustomerMetadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ASYNC_setPersonAccountTrue</name>
        <label>ASYNC_setPersonAccountTrue</label>
        <locationX>1546</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>boolIsPersonAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ASYNC_LoopOnCustomerMetadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CopyassignMetadata</name>
        <label>CopyassignMetadata</label>
        <locationX>1590</locationX>
        <locationY>1440</locationY>
        <assignmentItems>
            <assignToReference>mdataRecordId.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TEXTSalesforceRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mdataRecordId.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getSalesforceContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mdataRecordType.key</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TEXTSalesforceRecordType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mdataRecordType.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TEXTContact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>listAdditionalString</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>mdataRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>listAdditionalString</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>mdataRecordType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputMetadata.listAdditionalStringField</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>listAdditionalString</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateCustomerCopy</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SYNC_assignInboundCustomerMetadata</name>
        <label>SYNC_assignInboundCustomerMetadata</label>
        <locationX>314</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>inboundMetadata</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SYNC_CastToCustomer.metadata</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isSyncFlow</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SYNC_LoopOnCustomerMetadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SYNC_SetPersonAccountToFalse</name>
        <label>SYNC_SetPersonAccountToFalse</label>
        <locationX>666</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>boolIsPersonAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SYNC_LoopOnCustomerMetadata</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SYNC_SetPersonAccountToTrue</name>
        <label>SYNC_SetPersonAccountToTrue</label>
        <locationX>402</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>boolIsPersonAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SYNC_LoopOnCustomerMetadata</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>TEXTContact</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Contact</stringValue>
        </value>
    </constants>
    <constants>
        <name>TEXTPersonAccount</name>
        <dataType>String</dataType>
        <value>
            <stringValue>PersonAccount</stringValue>
        </value>
    </constants>
    <constants>
        <name>TEXTPersonAccountDeveloperName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>PersonAccount</stringValue>
        </value>
    </constants>
    <constants>
        <name>TEXTSalesforceRecordId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>SalesforceRecordId</stringValue>
        </value>
    </constants>
    <constants>
        <name>TEXTSalesforceRecordType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>SalesforceRecordType</stringValue>
        </value>
    </constants>
    <decisions>
        <name>ASYNC_CheckCurrentMetadata</name>
        <label>ASYNC_CheckCurrentMetadata</label>
        <locationX>1810</locationX>
        <locationY>648</locationY>
        <defaultConnector>
            <targetReference>ASYNC_LoopOnCustomerMetadata</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ASYNC_CheckPersonAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ASYNC_LoopOnCustomerMetadata.key</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TEXTSalesforceRecordType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ASYNC_LoopOnCustomerMetadata.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TEXTPersonAccount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASYNC_setPersonAccountTrue</targetReference>
            </connector>
            <label>ASYNC_CheckPersonAccount</label>
        </rules>
        <rules>
            <name>ASYNC_CheckContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ASYNC_LoopOnCustomerMetadata.key</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TEXTSalesforceRecordType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ASYNC_LoopOnCustomerMetadata.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TEXTContact</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ASYNC_setPersonAccountFalse</targetReference>
            </connector>
            <label>ASYNC_CheckContact</label>
        </rules>
    </decisions>
    <decisions>
        <name>ASYNC_CheckRecordType</name>
        <label>ASYNC_CheckRecordType</label>
        <locationX>1458</locationX>
        <locationY>1080</locationY>
        <defaultConnector>
            <targetReference>getSalesforceContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ASYNC_isContact</defaultConnectorLabel>
        <rules>
            <name>ASYNC_isPersonAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>boolIsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getSalesforcePersonAccount</targetReference>
            </connector>
            <label>ASYNC_isPersonAccount</label>
        </rules>
    </decisions>
    <decisions>
        <name>SYNC_CheckCurrentMetadata</name>
        <label>SYNC_CheckCurrentMetadata</label>
        <locationX>798</locationX>
        <locationY>648</locationY>
        <defaultConnector>
            <targetReference>SYNC_LoopOnCustomerMetadata</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SYNC_CheckPersonAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SYNC_LoopOnCustomerMetadata.key</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TEXTSalesforceRecordType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SYNC_LoopOnCustomerMetadata.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TEXTPersonAccount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SYNC_SetPersonAccountToTrue</targetReference>
            </connector>
            <label>SYNC_CheckPersonAccount</label>
        </rules>
        <rules>
            <name>SYNC_CheckContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SYNC_LoopOnCustomerMetadata.key</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TEXTSalesforceRecordType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SYNC_LoopOnCustomerMetadata.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TEXTContact</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SYNC_SetPersonAccountToFalse</targetReference>
            </connector>
            <label>SYNC_CheckContact</label>
        </rules>
        <rules>
            <name>SYNC_HasSalesforceRecordId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SYNC_LoopOnCustomerMetadata.key</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TEXTSalesforceRecordId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SYNC_LoopOnCustomerMetadata.value</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <label>SYNC_HasSalesforceRecordId</label>
        </rules>
    </decisions>
    <decisions>
        <name>SYNC_CheckRecordType</name>
        <label>SYNC_CheckRecordType</label>
        <locationX>314</locationX>
        <locationY>1080</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>SYNC_isPersonAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>boolIsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isSyncFlow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getPersonAccountId</targetReference>
            </connector>
            <label>SYNC_isPersonAccount</label>
        </rules>
        <rules>
            <name>SYNC_isContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>boolIsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isSyncFlow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SYNC_createSalesforceContact</targetReference>
            </connector>
            <label>SYNC_isContact</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ST2SF_Customer_Created {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ST2SF_Customer_Created</label>
    <loops>
        <name>ASYNC_LoopOnCustomerMetadata</name>
        <label>ASYNC_LoopOnCustomerMetadata</label>
        <locationX>1458</locationX>
        <locationY>528</locationY>
        <collectionReference>inboundMetadata.listAdditionalStringField</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ASYNC_CheckCurrentMetadata</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ASYNC_CheckRecordType</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>SYNC_LoopOnCustomerMetadata</name>
        <label>SYNC_LoopOnCustomerMetadata</label>
        <locationX>314</locationX>
        <locationY>528</locationY>
        <collectionReference>inboundMetadata.listAdditionalStringField</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SYNC_CheckCurrentMetadata</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SYNC_CheckRecordType</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>SYNC_createSalesforceContact</name>
        <label>SYNC_createSalesforceContact</label>
        <locationX>314</locationX>
        <locationY>1200</locationY>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>SYNC_CastToCustomer.email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>SYNC_CastToCustomer.name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stripe_Customer_Id__c</field>
            <value>
                <elementReference>SYNC_CastToCustomer.id</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>SYNC_CreateSFPersonAccount</name>
        <label>SYNC_CreateSFPersonAccount</label>
        <locationX>50</locationX>
        <locationY>1320</locationY>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>SYNC_CastToCustomer.name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>SYNC_CastToCustomer.email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>getPersonAccountId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stripe_Customer_Id__pc</field>
            <value>
                <elementReference>SYNC_CastToCustomer.id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>CopygetStripeAccount</name>
        <label>CopygetStripeAccount</label>
        <locationX>1590</locationX>
        <locationY>1320</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CopyassignMetadata</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>stripeGC__Stripe_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPersonAccountId</name>
        <label>getPersonAccountId</label>
        <locationX>50</locationX>
        <locationY>1200</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SYNC_CreateSFPersonAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TEXTPersonAccountDeveloperName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getSalesforceContact</name>
        <label>getSalesforceContact</label>
        <locationX>1590</locationX>
        <locationY>1200</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CopygetStripeAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Stripe_Customer_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ASYNC_CastToCustomer.id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getSalesforcePersonAccount</name>
        <label>getSalesforcePersonAccount</label>
        <locationX>1326</locationX>
        <locationY>1200</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getStripeAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Stripe_Customer_Id__pc</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ASYNC_CastToCustomer.id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getStripeAccount</name>
        <label>getStripeAccount</label>
        <locationX>1326</locationX>
        <locationY>1320</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignMetadata</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>stripeGC__Stripe_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>760</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SYNC_CastToCustomer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>stripeGC__Event_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>customer.created</stringValue>
            </value>
        </filters>
        <object>stripeGC__Stripe_Event__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>ASYNC_CastToCustomer</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>boolIsPersonAccount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>inboundMetadata</name>
        <apexClass>stripeGC__Metadata</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isSyncFlow</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>listAdditionalString</name>
        <apexClass>stripeGC__AdditionalString</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>mdataRecordId</name>
        <apexClass>stripeGC__AdditionalString</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>mdataRecordType</name>
        <apexClass>stripeGC__AdditionalString</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outputMetadata</name>
        <apexClass>stripeGC__Metadata</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>postMetadata</name>
        <apexClass>stripeGC__Metadata</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>singleMdata</name>
        <apexClass>stripeGC__AdditionalListString</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
