force-app/main/default/flows/ST2SF_Synchronise_Current_and_past_payment_intents.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Cast_to_Payment_Intent</name>
        <label>Cast to Payment Intent</label>
        <locationX>418</locationX>
        <locationY>384</locationY>
        <actionName>stripeGC__v01_CastPaymentIntent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>find_Account</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>requestBody</name>
            <value>
                <elementReference>$Record.stripeGC__Request_Body__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>stripeGC__v01_CastPaymentIntent</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Payment_Intents</name>
        <label>Get Payment Intents</label>
        <locationX>286</locationX>
        <locationY>816</locationY>
        <actionName>stripeGC__v01_ListPaymentIntents</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>get_Person_Account_Record_Type_Id</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>get_Stripe_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customer</name>
            <value>
                <elementReference>get_Stripe_Customer.id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>r_limit</name>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>stripeGC__v01_ListPaymentIntents</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>get_Stripe_Customer</name>
        <label>get Stripe Customer</label>
        <locationX>286</locationX>
        <locationY>708</locationY>
        <actionName>stripeGC__v01_GetCustomers</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Payment_Intents</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>get_Stripe_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customer</name>
            <value>
                <elementReference>Cast_to_Payment_Intent.customer</elementReference>
            </value>
        </inputParameters>
        <nameSegment>stripeGC__v01_GetCustomers</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <constants>
        <name>TEXTPersonAccountDeveloperName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>PersonAccount</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_account_exists</name>
        <label>Check account exists</label>
        <locationX>418</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Create_Payment_Intent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account Exists</defaultConnectorLabel>
        <rules>
            <name>account_does_not_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>find_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Stripe_Customer</targetReference>
            </connector>
            <label>account does not exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>priceAmountLoop</name>
        <dataType>Number</dataType>
        <expression>{!bulk_create_intents.amountReceived} / 100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>PriceAmountUnique</name>
        <dataType>Number</dataType>
        <expression>{!Cast_to_Payment_Intent.amountReceived} / 100</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>ST2SF - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ST2SF - Synchronise Current and Past Payment Intent</label>
    <loops>
        <name>bulk_create_intents</name>
        <label>Bulk Create Payment Intents</label>
        <locationX>286</locationX>
        <locationY>1140</locationY>
        <collectionReference>Get_Payment_Intents.data</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_payment_intent_in_loop</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Payment_Intent</name>
        <label>Create Payment Intent</label>
        <locationX>550</locationX>
        <locationY>708</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>find_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>Cast_to_Payment_Intent.amountReceived</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Currency__c</field>
            <value>
                <elementReference>Cast_to_Payment_Intent.r_currency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Cast_to_Payment_Intent.id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <elementReference>Cast_to_Payment_Intent.paymentMethod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Cast_to_Payment_Intent.status</elementReference>
            </value>
        </inputAssignments>
        <object>Stripe_Payment_Intent__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_payment_intent_in_loop</name>
        <label>Create Payment Intent in Loop</label>
        <locationX>374</locationX>
        <locationY>1248</locationY>
        <connector>
            <targetReference>bulk_create_intents</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>find_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>bulk_create_intents.amountReceived</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Currency__c</field>
            <value>
                <elementReference>bulk_create_intents.r_currency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>bulk_create_intents.id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Method__c</field>
            <value>
                <elementReference>bulk_create_intents.paymentMethod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>bulk_create_intents.status</elementReference>
            </value>
        </inputAssignments>
        <object>Stripe_Payment_Intent__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_Person_Person_Account</name>
        <label>create Person Account</label>
        <locationX>286</locationX>
        <locationY>1032</locationY>
        <connector>
            <targetReference>bulk_create_intents</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountNumber</field>
            <value>
                <elementReference>get_Stripe_Customer.id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>get_Stripe_Customer.address.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>get_Stripe_Customer.address.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>get_Stripe_Customer.address.state</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>get_Stripe_Customer.address.line1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>get_Stripe_Customer.name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>get_Stripe_Customer.email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>get_Person_Account_Record_Type_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stripe_Customer_Id__pc</field>
            <value>
                <elementReference>get_Stripe_Customer.id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>find_Account</name>
        <label>find Account</label>
        <locationX>418</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_account_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Cast_to_Payment_Intent.customer</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Person_Account_Record_Type_Id</name>
        <label>get Person Account Record Type Id</label>
        <locationX>286</locationX>
        <locationY>924</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>create_Person_Person_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TEXTPersonAccountDeveloperName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Stripe_Record</name>
        <label>get Stripe Account</label>
        <locationX>418</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cast_to_Payment_Intent</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>stripeGC__Stripe_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>stripeGC__Event_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>payment_intent.succeeded</stringValue>
            </value>
        </filters>
        <object>stripeGC__Stripe_Event__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>get_Stripe_Record</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
