force-app/main/default/flows/ST2SF_Price_Created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Cast_Price</name>
        <label>Cast Price</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <actionName>stripeGC__v01_CastPrice</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>get_Related_Product</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>requestBody</name>
            <value>
                <elementReference>$Record.stripeGC__Request_Body__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>check_Result</name>
        <label>check Result</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>No Product</defaultConnectorLabel>
        <rules>
            <name>Product_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Related_Product.Stripe_UID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Cast_Price.product</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cast_Price.type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>recurring</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Price</targetReference>
            </connector>
            <label>Product Exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>PriceName</name>
        <dataType>String</dataType>
        <expression>{!get_Related_Product.Name} + &apos;-&apos; + {!Cast_Price.unitAmountDecimal} + &apos; &apos; + {!Cast_Price.recurring.interval}</expression>
    </formulas>
    <interviewLabel>ST2SF_Price_Created : {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ST2SF_Price_Created</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Price</name>
        <label>Create Price</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Currency__c</field>
            <value>
                <elementReference>Cast_Price.r_currency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interval_Count__c</field>
            <value>
                <elementReference>Cast_Price.recurring.intervalCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interval__c</field>
            <value>
                <elementReference>Cast_Price.recurring.interval</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PriceName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price_in_cents__c</field>
            <value>
                <elementReference>Cast_Price.unitAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stripe_Product__c</field>
            <value>
                <elementReference>get_Related_Product.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stripe_UID__c</field>
            <value>
                <elementReference>Cast_Price.id</elementReference>
            </value>
        </inputAssignments>
        <object>Stripe_Price__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_Related_Product</name>
        <label>get Related Product</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_Result</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Stripe_UID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Cast_Price.product</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Stripe_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Cast_Price</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>stripeGC__Event_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>price.created</stringValue>
            </value>
        </filters>
        <object>stripeGC__Stripe_Event__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
