force-app/main/default/flows/ST2SF_Product_Created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>cast_to_product</name>
        <label>cast to product</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <actionName>stripeGC__v01_CastProduct</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>get_Products</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>requestBody</name>
            <value>
                <elementReference>$Record.stripeGC__Request_Body__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>stripeGC__v01_CastProduct</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>product_exists</name>
        <label>product exists</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>create_product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>found_it</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Products.Stripe_UID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>cast_to_product.id</elementReference>
                </rightValue>
            </conditions>
            <label>found it</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ST2SF_Product_Created {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ST2SF_Product_Created</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_product</name>
        <label>create product</label>
        <locationX>308</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>cast_to_product.name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stripe_Account_Id__c</field>
            <value>
                <elementReference>$Record.stripeGC__Stripe_Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stripe_UID__c</field>
            <value>
                <elementReference>cast_to_product.id</elementReference>
            </value>
        </inputAssignments>
        <object>Stripe_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_Products</name>
        <label>get Products</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>product_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Stripe_UID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cast_to_product.id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Stripe_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>cast_to_product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>stripeGC__Event_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>product.created</stringValue>
            </value>
        </filters>
        <object>stripeGC__Stripe_Event__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
