force-app/main/default/flows/ST2SF_Synchronise_Current_and_past_invoices.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Cast_To_Invoice</name>
        <label>Cast To Invoice</label>
        <locationX>484</locationX>
        <locationY>384</locationY>
        <actionName>stripeGC__v01_CastInvoice</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>find_Account</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>requestBody</name>
            <value>
                <elementReference>$Record.stripeGC__Request_Body__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>stripeGC__v01_CastInvoice</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>get_Stripe_Customer</name>
        <label>get Stripe Customer</label>
        <locationX>220</locationX>
        <locationY>708</locationY>
        <actionName>stripeGC__v01_GetCustomers</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>get_Stripe_Invoices</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>get_Stripe_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customer</name>
            <value>
                <elementReference>Cast_To_Invoice.customer</elementReference>
            </value>
        </inputParameters>
        <nameSegment>stripeGC__v01_GetCustomers</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>get_Stripe_Invoices</name>
        <label>get Stripe Invoices</label>
        <locationX>220</locationX>
        <locationY>816</locationY>
        <actionName>stripeGC__v01_ListInvoices</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>get_Person_Account_Record_Type_Id</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>get_Stripe_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customer</name>
            <value>
                <elementReference>Cast_To_Invoice.customer</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>r_limit</name>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>status</name>
            <value>
                <stringValue>paid</stringValue>
            </value>
        </inputParameters>
        <nameSegment>stripeGC__v01_ListInvoices</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>getSubscription</name>
        <label>getSubscription</label>
        <locationX>572</locationX>
        <locationY>816</locationY>
        <actionName>stripeGC__v01_GetSubscriptions</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>getOpportunity</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>get_Stripe_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subscriptionExposedId</name>
            <value>
                <elementReference>Cast_To_Invoice.subscription</elementReference>
            </value>
        </inputParameters>
        <nameSegment>stripeGC__v01_GetSubscriptions</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <constants>
        <name>TEXTPersonAccountDeveloperName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>PersonAccount</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_account_exists</name>
        <label>Check account exists</label>
        <locationX>484</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>isASubscription</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account Exists</defaultConnectorLabel>
        <rules>
            <name>account_does_not_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>find_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Stripe_Customer</targetReference>
            </connector>
            <label>account does not exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>invoiceItemExists</name>
        <label>invoiceItemExists</label>
        <locationX>748</locationX>
        <locationY>1524</locationY>
        <defaultConnector>
            <targetReference>Create_Invoices</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>anInvoiceExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getInvoices.Id</leftValueReference>
                <operator>WasSet</operator>
            </conditions>
            <connector>
                <targetReference>updateAllInvoices</targetReference>
            </connector>
            <label>anInvoiceExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>isASubscription</name>
        <label>isASubscription</label>
        <locationX>748</locationX>
        <locationY>708</locationY>
        <defaultConnector>
            <targetReference>getInvoices</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cast_To_Invoice.subscription</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>sub_</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getSubscription</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>OpportunityAlreadyCreated</name>
        <label>OpportunityAlreadyCreated</label>
        <locationX>572</locationX>
        <locationY>1032</locationY>
        <defaultConnector>
            <targetReference>createOpportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OpportunityCreated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOpportunity.Stripe_Subscription_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Cast_To_Invoice.subscription</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getInvoices</targetReference>
            </connector>
            <label>OpportunityCreated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>oppAmount</name>
        <dataType>Number</dataType>
        <expression>{!Cast_To_Invoice.amountDue} / 100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>OpportunityName</name>
        <dataType>String</dataType>
        <expression>&apos;Stripe Subscription - &apos; + {!getSubscription.id}</expression>
    </formulas>
    <interviewLabel>ST2SF - Synchronise Current and past invoices {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ST2SF - Synchronise Current and past invoices</label>
    <loops>
        <name>bulk_create_invoices</name>
        <label>Bulk Create Invoices</label>
        <locationX>220</locationX>
        <locationY>1140</locationY>
        <collectionReference>get_Stripe_Invoices.data</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_invoice_for_bulk_loop</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_invoice_for_bulk_loop</name>
        <label>Create Invoice for bulk loop</label>
        <locationX>308</locationX>
        <locationY>1248</locationY>
        <connector>
            <targetReference>bulk_create_invoices</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>create_Person_Person_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>bulk_create_invoices.amountPaid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Currency__c</field>
            <value>
                <elementReference>bulk_create_invoices.r_currency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>bulk_create_invoices.description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stripe_Invoice_Id__c</field>
            <value>
                <elementReference>bulk_create_invoices.id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stripe_Invoice_URL__c</field>
            <value>
                <elementReference>bulk_create_invoices.hostedInvoiceUrl</elementReference>
            </value>
        </inputAssignments>
        <object>Unpaid_Invoice_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Invoices</name>
        <label>Create Invoices</label>
        <locationX>880</locationX>
        <locationY>1632</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>find_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>Cast_To_Invoice.amountPaid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Currency__c</field>
            <value>
                <elementReference>Cast_To_Invoice.r_currency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Cast_To_Invoice.description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stripe_Invoice_Id__c</field>
            <value>
                <elementReference>Cast_To_Invoice.id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stripe_Invoice_URL__c</field>
            <value>
                <elementReference>Cast_To_Invoice.hostedInvoiceUrl</elementReference>
            </value>
        </inputAssignments>
        <object>Unpaid_Invoice_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_Person_Person_Account</name>
        <label>create Person Account</label>
        <locationX>220</locationX>
        <locationY>1032</locationY>
        <connector>
            <targetReference>bulk_create_invoices</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountNumber</field>
            <value>
                <elementReference>get_Stripe_Customer.id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>get_Stripe_Customer.address.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>get_Stripe_Customer.address.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>get_Stripe_Customer.address.state</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>get_Stripe_Customer.address.line1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>get_Stripe_Customer.name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonEmail</field>
            <value>
                <elementReference>get_Stripe_Customer.email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>get_Person_Account_Record_Type_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stripe_Customer_Id__pc</field>
            <value>
                <elementReference>get_Stripe_Customer.id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createOpportunity</name>
        <label>createOpportunity</label>
        <locationX>660</locationX>
        <locationY>1140</locationY>
        <connector>
            <targetReference>getInvoices</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>find_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Cast_To_Invoice.amountDue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OpportunityName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>OpportunityName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stripe_Subscription_Id__c</field>
            <value>
                <elementReference>getSubscription.id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>find_Account</name>
        <label>find Account</label>
        <locationX>484</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_account_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Cast_To_Invoice.customer</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Person_Account_Record_Type_Id</name>
        <label>get Person Account Record Type Id</label>
        <locationX>220</locationX>
        <locationY>924</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>create_Person_Person_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TEXTPersonAccountDeveloperName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Stripe_Record</name>
        <label>get Stripe Account</label>
        <locationX>484</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cast_To_Invoice</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>stripeGC__Stripe_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getInvoices</name>
        <label>getInvoices</label>
        <locationX>748</locationX>
        <locationY>1416</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>invoiceItemExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Stripe_Invoice_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Cast_To_Invoice.id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Unpaid_Invoice_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOpportunity</name>
        <label>getOpportunity</label>
        <locationX>572</locationX>
        <locationY>924</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OpportunityAlreadyCreated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Stripe_Subscription_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getSubscription.id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateAllInvoices</name>
        <label>updateAllInvoices</label>
        <locationX>616</locationX>
        <locationY>1632</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Stripe_Invoice_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Cast_To_Invoice.id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </inputAssignments>
        <object>Unpaid_Invoice_Item__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>stripeGC__Event_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>invoice.paid</stringValue>
            </value>
        </filters>
        <object>stripeGC__Stripe_Event__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>get_Stripe_Record</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
