force-app/main/default/flows/ST2SF_Invoice_Paid.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>castToInvoice</name>
        <label>castToInvoice</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <actionName>stripeGC__v01_CastInvoice</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>checkStatus</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>requestBody</name>
            <value>
                <elementReference>$Record.stripeGC__Request_Body__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <constants>
        <name>eventInvoicepaid</name>
        <dataType>String</dataType>
        <value>
            <stringValue>invoice.paid</stringValue>
        </value>
    </constants>
    <constants>
        <name>invoicePaid</name>
        <dataType>String</dataType>
        <value>
            <stringValue>paid</stringValue>
        </value>
    </constants>
    <decisions>
        <name>checkStatus</name>
        <label>checkStatus</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>invoicePaidTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>castToInvoice.status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>invoicePaid</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.stripeGC__Event_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>eventInvoicepaid</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getRelatedInvoiceItems</targetReference>
            </connector>
            <label>invoicePaidTrue</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ST2SF_Invoice_Paid {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ST2SF_Invoice_Paid</label>
    <loops>
        <name>forEachUnpaidInvoiceItems</name>
        <label>forEachUnpaidInvoiceItems</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <collectionReference>getRelatedInvoiceItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>updateUnpaidInvoiceItems</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getRelatedInvoiceItems</name>
        <label>getRelatedInvoiceItems</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>forEachUnpaidInvoiceItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Stripe_Invoice_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>castToInvoice.id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Unpaid_Invoice_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateUnpaidInvoiceItems</name>
        <label>updateUnpaidInvoiceItems</label>
        <locationX>138</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>forEachUnpaidInvoiceItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>forEachUnpaidInvoiceItems.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </inputAssignments>
        <object>Unpaid_Invoice_Item__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>castToInvoice</targetReference>
        </connector>
        <object>stripeGC__Stripe_Event__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
